@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

html {
  font-family: 'Inter', 'Roboto', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  color: #374151;
}

body, #root {
  width: 320px;
  height: 600px;
  margin: 0;
  padding: 0;
}

.highlight-marker.active {
    position: relative;
}

.highlight-marker.active:before {
    content: "";
    width: 100%;
    height: 1em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    left: 0;
    top: 0.6em;
    padding: 0 0.25em;
  }

.dope-colors {
  animation: color-cycle 4s linear infinite;
}

@keyframes color-cycle {
  0%, 100% {
    color: #fc787d; /* red text (opposite of green glow) */
  }
  25% {
    color: #fbb130; /* yellow text (opposite of blue glow) */
  }
  50% {
    color: #1bb6f9; /* blue text (opposite of yellow glow) */
  }
  75% {
    color: #00ceb3; /* green text (opposite of red glow) */
  }
}